---
layout: default
id: splash
---


    {% assign postsLeft = site.posts | where: 'categories', 'left' %}
    {% assign postsRight = site.posts | where: 'categories', 'right' %}

    <div class="column typeset column--left" id="left">    

        <header class="site-header left" role="banner">
            {% for i in (1 .. 2) %}
            <div class="title-stack">
            {% for i in (1 .. 3) %}
            <a class="site-title" href="{{ "/" | relative_url}}">
                  <h4>ulises<span>.us</span></h4>
            </a>
            {% endfor %}
            </div>
            {% endfor %}
        </header>

        {% for post in postsLeft %}
            {% if post.tags contains 'sticky' %}    
                {% include post-single.html %}            
            {% endif %}
        {% endfor %}

        {% for post in postsLeft %}
            {% unless post.tags contains 'sticky' %}    
                {% include post-single.html %}            
            {% endunless %}
        {% endfor %}

    </div>

    <div class="column typeset column--right" id="right">

        {% include header.html %}

        {% for post in postsRight %}
            {% if post.tags contains 'sticky' %}    
                {% include post-single.html %}            
            {% endif %}
        {% endfor %}

        {% for post in postsRight %}
            {% unless post.tags contains 'sticky' %}    
                {% include post-single.html %}            
            {% endunless %}
        {% endfor %}

    </div>

    {% include pasp.html %}