<div id="splash" class="default">

{% assign p1 = "publishing as<br/>practice:" %}
{% assign p2 = "a three part<br/>publishing residency" %}

<a id="splash-body-anchor" href="#splash-body">

<div class="residents">

<div id="hardworking">
    <span>2</span><span>hardworking goodlooking</span>
</div>

<div id="bedouin">
    <span>1</span><span>bedouin</span>
</div>

<div id="martine">
    <span>3</span><span>martine syms</span>
</div>

</div>

<div class="scroll-wrapper">
<div class="col-1">

{% for i in (1..200) %}

<span>{{ p1 }}</span>

{% endfor %}

</div>

<div class="col-2">

{% for i in (1..200) %}

<span>{{ p2 }}</span>

{% endfor %}

</div>
</div>
</a>

</div>